
body {
font-family: sans-serif;
	font-size: 14px;
}
h1, h2 {
font-family: serif;
border-bottom: thin solid grey;
border-bottom-width: thin;
}
a {
text-decoration: none;
}
.italic {
	#Italicize text
}
.contents {

 border-color: 	#808080;
 background-color: 	#D3D3D3;
 width: 300px ;
 border: thin solid black;

}
.contents ul {
	list-style-type: none;
padding-left: 0px;
}
table {
width: 500px;
margin:auto;
}
table, th, td {
	#Thin black border
	#How do you make the borders one thin line instead of two?
}
th {
	#Medium-colored background
}
td {
	#Light-colored background
}
caption {
	#Make this bold
}
.gallery {
	#Remove bullets
}
.gallerybox {
	#Display horizontally using the display property
	#Width of 220 pixels
	#Align the divs by the top of each picture
}
.gallerythumb img {
	#Width of 200 pixels
	#Height of 100 pixels
}
